h3 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 35px;
}

body {
    background: #d3c7ff;
    font-family: Arial, sans-serif;
}

.lista-comunidades {
    width: 420px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.comunidade-item {
    background: #B1BFFF;
    padding: 14px 16px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 14px;
    text-decoration: none;       
    color: inherit;                
}

.comunidade-item:hover {
    background: #a999ff;           
    cursor: pointer;
}

.comunidade-numero {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    width: 20px;
}

.comunidade-foto {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #e1dfdf;
}

.comunidade-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.comunidade-titulo {
    font-weight: bold;
    color: #1f1f72;
    font-size: 16px;
}

.comunidade-desc, .comunidade-desc a {
    color: #333;
    font-size: 14px;
}

.comunidade-membros {
    color: #555;
    font-size: 13px;
}
