body {
    overflow-x: hidden;
}

.titulo-linha {
    position: relative;
    width: 100%;
    margin: 20px;
    border-bottom: 3px solid #5170FF59
}

.titulo-linha h3 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    font-family: Playfair Display;
    font-weight: 700;
    font-size: 28px;
    color: #090044;

    background-color: #CDD6FF;
    padding-right: 12px;
}

.moderador {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.moderador img {
    width: 70px;
    border-radius: 100%;
}

.moderador div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil div .nome-posts {
    font-family: "Poppins", sans-serif;
    ;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    color: #000;
}

.perfil div .user-posts {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    color: #00000099;
}

.profile-block {
    background: #B1BFFF;
}

.chat {
    background: #E2E6FF;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

