.perfil-container {
    width: 100%;
    margin: auto;
    position: relative;
    padding-bottom: 60px;
}

.banner-box {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-block {
    background: #c8d0ff;
    border-radius: 20px;
    padding: 80px 40px 40px;
    position: relative;
}

.top-right-actions {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.pfp-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 6px solid #c8d0ff;
    position: absolute;
    top: -70px;
    left: 40px;
    object-fit: cover;
}

.info {
    margin-top: 10px;
}

.info  h2 {
    font-family: "poppins", sans-serif;
    color: #001A91;
    font-weight: bold;
    font-size: 40px;
    margin: 10px 0;
}

.arroba {
    color: #34417D;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 25px;
    margin: 10px 0;
}

.bio {
    max-width: 700px;
    margin-bottom: 12px;
    font-family: "Poppins";font-size: 25px;
}

.local-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.local-box span {
    color: #34417D;
    font-family: "Poppins";
    font-size: 25px;

}

.icon-pin {
    margin-right: 6px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.icon-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    border: 2px solid #001A91;
    background-color: #C9D3FF;
    cursor: pointer;
}

.follow-btn {
    padding: 8px 20px;
    border-radius: 30px;    
   border: 2px solid #001A91;
    font-weight: 600;
    background: white;
    cursor: pointer;
   background-color: #C9D3FF;
}

.numbers {
    font-size: 16px;
    margin-top: 10px;
}

.numbers b {
    margin-right: 5px;
}
